<ion-view view-title="대화상대">
  <ion-nav-buttons side="right">
    <button class="button button-positive icon ion-ios-plus" ng-click="showUsers()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list ng-repeat="friend in friends">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="joinChatRoom(friend)">
        <img ng-src="{{friend.user_face}}">
        <h2>{{friend.user_name}}</h2>
        <span data-id="{{friend.user_id}}" class="hide"></span>
        <span>마지막접속 : </span><span am-time-ago="friend.connection_time"></span>
        <ion-option-button class="button-assertive" ng-click="remove(friend)">
          삭제
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
