<ion-view view-title="채팅방">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap"
                ng-repeat="chat in chats"
                ng-click="joinChatRoom(chat)">
        <img ng-src="{{chat.friend.user_face}}">
        <h2>{{chat.friend.user_name}}</h2>
        <p>마지막 메세지 : {{chat.last_text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          삭제
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
