<ion-modal-view class="edit">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">친구 추가</h1>
    <button class="button button-royal" ng-click="hideUserListModal()">닫기</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap"
                ng-repeat="user in users" ng-click="addFriend(user, true)">
        <img ng-if="user.user_face === 'assets/img/sarah.png'" ng-src="{{user.user_face}}">
        <img ng-if="user.user_face !== 'assets/img/sarah.png'" ng-src="{{imageServerUrl}}/{{user.user_face}}">
        <h2>{{user.user_name}}</h2>
        <span>마지막접속 : </span><span am-time-ago="user.connection_time"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
